<input
  class="form-control mb-3"
  type="text"
  name="search"
  id="search"
  placeholder="Search"
  [(ngModel)]="searchMovie"
/>

<div *ngFor="let movie of movies | movieFilter : searchMovie">
  <div class="card mb-3" id="{{ movie.id }}">
    <div class="row">
      <div class="col-md-3">
        <img
          class="img-fluid rounded-start"
          style="width: 250px"
          src="{{ movie.imageUrl }}"
          alt=""
        />
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="card-title">{{ movie.title }}</h2>
          <p class="card-text">
            {{ movie.description }}
          </p>
          <div class="buttons">
            <button class="btn btn-sm btn-outline-primary">Details</button>
            <button
              class="btn btn-sm btn-primary mx-1"
              (click)="addRemoveList($event, movie.id)"
              [ngClass]="{ 'btn-danger': isInList(movie.id) }"
            >
              {{ !isInList(movie.id) ? "Add to List" : "Remove from List" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
